body {
    // color: $white;
    // background-color: $dark;
}

.navbar {
    background-color: $black;
}

.nav-links {
    display: flex;
    align-items: stretch;
    flex-direction: row;

    & a {
        text-decoration: none;
        color: inherit;
    }
}

.nav-links--elem {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.logo {
    width: 200px;
}

@media (max-width: 768px) {

    .nav-links {
        flex-direction: column;
    }

    .nav-links--elem {
        padding: 8px 0;
    }
}